###
### .gitignore for nginx-ldap-auth-proxy project
###

# ================================================================================
# OS X
# ================================================================================

._*
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
.apdisk
Icon
Temporary Items


# ================================================================================
# Linux
# ================================================================================

*~
.directory


# ================================================================================
# Windows
# ================================================================================

$RECYCLE.BIN/
*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db


# ================================================================================
# Python
# ================================================================================

__pycache__/
*.pyc
*.pyd
*.pyo

env/
*.egg-info/
.Python
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
htmlcov/
.coverage
.cache
coverage.xml

*.mo
